﻿@{
    ViewBag.Title = "Home Page";
}
@using AnHo_Counter.Models
@model Counter
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>@Model.Count</h1>
            <p>
                @if (Model.Count < 10)
                {
                    @Html.ActionLink("Increase", "Count", null, new { @class = "btn btn-primary" })
                }
                else
                {
                    @Html.ActionLink("Reset", "Reset", null, new { @class = "btn btn-warning" })
                }
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>